# The binary attribute keeps git diff concise.
# The linguist-generated attribute keeps the GitHub diff view reviewable.
openapitools.json binary linguist-generated
python/sdk/src/openapi_client* binary linguist-generated
python/sdk/src/openapi_client*/** binary linguist-generated
python/sdk/src/.openapi-generator* binary linguist-generated
python/sdk/src/.openapi-generator/* binary linguist-generated
ts/sdk/src/.openapi-generator* binary linguist-generated
ts/sdk/src/.openapi-generator/* binary linguist-generated
ts/sdk/src/configuration.ts binary linguist-generated
ts/sdk/src/index.ts binary linguist-generated
ts/sdk/src/package.json binary linguist-generated
ts/sdk/src/tsconfig.json binary linguist-generated
ts/sdk/src/docs/** binary linguist-generated
ts/sdk/api.ts binary linguist-generated
rust/gen/** binary linguist-generated
